---
# Only the main Sass file needs front matter (the dashes are enough)
---
.link_list {
  max-width: 400px;
  margin: 10px auto;
  li {
    text-align: left;
    list-style-type: none;
    font-size: 20px;
    padding: 10px 0;
  }
}
.grade {
  color: rgba(255, 255, 255, 0.7);
  font-style: italic;
  font-weight: bold;
  line-height: 10px;
  margin-bottom: 15px;
  span {
    font-size: 40px;    
  }
  .a {
    font-size: 40px;
    font-weight: bold;
    line-height: 10px;
    color: rgb(50, 255, 50);
    text-shadow: 2px 2px 5px #000;
  }
  .b {
    font-size: 40px;
    font-weight: bold;
    line-height: 10px;  
    color: rgb(150, 255, 50);
    text-shadow: 2px 2px 5px #000;
  }
  .c {
    font-size: 40px;
    font-weight: bold;
    line-height: 10px;
    color: rgb(255, 255, 50);
    font-weight: bold;
    text-shadow: 2px 2px 5px #000;
  }
  .d {
    font-size: 40px;
    font-weight: bold;
    line-height: 10px;
    color: rgb(255, 100, 50);
    font-weight: bold;
    text-shadow: 2px 2px 5px #000;
  }
  .f {
    font-size: 40px;
    font-weight: bold;
    line-height: 10px;
    color: rgb(255, 0, 0);
    font-weight: bold;
    text-shadow: 2px 2px 5px #000;
  }
}
.helping {

}
.features li {
  width: 100%;
}
.features .example {
  height: 200px;
  width: 200px;
  object-fit: contain;
  object-position: center;
  float: right;
  margin-left: 30px;
}
@media screen and (max-width: 736px) {
  .features li .example {
    width: 150px;
    height: 150px;
  }
  .big_pic {
    display: block;
    width: 100%;
  }
}
.participate_pic {
  height: 150px;
  width: 150px;
  object-fit: contain;
  object-position: center;
  float: left;
  margin-right: 10px;
}
.participate_preview_pic {
  width: 250px;
  object-fit: contain;
  object-position: top center;
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 5px;
  float: right;
  margin-left: 10px;
  margin-top: -30px;
}
p a {
  font-weight: bold;
}

.swing {
  animation: swing 3s ease-in-out 3, swing-home 1s 9s ease-in-out;
  transform-origin: 63px 18px; 
}

.hold-line {
  white-space: nowrap;
}

@media (max-width: 725px) {
  .participate_pic {
    height: 100px;
    width: 100px;
    }
  .participate_preview_pic {
    display: none;
  }  
  .hold-line {
    white-space: normal;
  }
}

@keyframes swing {
  0%, 100% { transform: rotate(20deg);  }
  50% { transform: rotate(-20deg); }
}
  
@keyframes swing-home {
  0% { transform: rotate(20deg);  }
  100% { transform: rotate(0deg); }
}

#listing h2 {
  font-size: 35px;
  margin-bottom: 0;
  letter-spacing: 4px;
}
#listing .subh2 {
  margin-top: -10px;
}
#listing #status.active {
  color: #41a631;
}
#listing #status.expired {
  color: #b2a824;
}
#listing #status.unapproved {
  color: #b2a824;
}
#listing #img.unapproved {
  filter: grayscale(100%);
  opacity: 0.7;
}
#listing #description {
  white-space: pre-line;
}
#listing #cert_intro {
  margin-bottom: 30px; 
  font-style: italic; 
  font-size: 13px; 
  line-height: 20px;
}
#obfset_holder {
  line-height: 18px;
  margin-bottom: 20px;
  table {
    width: 100%;
    table-layout: fixed;
    border: 1px solid #1679a9;
    background: #81b7d1
  }
  table td {
    padding: 1px;
  }
  td > div {
    border: 1px solid #1679a9;
    border-radius: 3px;
    margin: 1px;
    min-height: 40px;
    padding-top: 20px;
    cursor: pointer;
    text-align: center;
    height: 100%;
    background: #fff;
    width: 100%;
    overflow: hidden;
    &.link {
      position: relative;
      :after {
        content: "";
        display: block;
        width: 20px;
        height: 20px;
        position: absolute;
        top: -8px;
        right: -8px;
        background: #9bcfe9;
        border-radius: 12px;
      }
    }
    &.semantic {
      background: #f2e6f7;
    }
    &.clone {
      background: #ffffdf;
    }
    .effort_label {
      white-space: nowrap;
      font-size: 14px;
    }
    .effort {
      color: #bbb;
      font-size: 10px;
      font-style: italic;
    }
  }
  td > div:hover {
    background: #f2f2f2;
  }
}