<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{% if page.title %}{{ page.title | escape }} - OpenAAC{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description | strip_html }}{% endif %}{% endif %}">
  <!--[if lte IE 8]><script src="{{ "/js/ie/html5shiv.js" | prepend: site.baseurl }}"></script><![endif]-->
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}" />
  <link rel="stylesheet" href="{{ "/css/ext.css" | prepend: site.baseurl }}" />
  <!--[if lte IE 8]><link rel="stylesheet" href="{{ "/css/ie8.css" | prepend: site.baseurl }}" /><![endif]-->
  <!--[if lte IE 9]><link rel="stylesheet" href="{{ "/css/ie9.css" | prepend: site.baseurl }}" /><![endif]-->
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
  <link rel="shortcut icon" href="/favicon.ico">
  <meta property="og:locale" content="en_US"/>
  <meta property="og:type" content="website" />
  <meta property="og:title" content="{% if page.title %}{{ page.title | escape }} - OpenAAC{% else %}{{ site.title | escape }}{% endif %}" />
  <meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />
  <meta property="og:site_name" content="{{ site.title }}" />
  <meta property="og:description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 100 }}{% if page.excerpt %} - {{ page.excerpt | strip_html | strip_newlines | truncate: 100 }}{% endif %}{% else %}{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description | strip_html }}{% endif %}{% endif %}" />
  <meta property="og:image" content="{% if page.image %}{{page.image | prepend: site.baseurl | prepend: site.url}}{% else %}{{'/images/logo.png' | prepend: site.baseurl | prepend: site.url}}{% endif %}" />  
  <script>
    window.app_list = [
      {
        name: "CoughDrop", 
        id: "coughdrop", 
        rank: 1, 
        url: "https://www.coughdrop.com", 
        image_url: "/images/2024/coughdrop.png", 
        video_id: "GOgzpO9_NwE",
        desc: "CoughDrop is a cloud-based AAC app, available on popular app stores or on the web. CoughDrop provides robust vocabulary sets for a variety of functional levels, and includes built-in tools to help the vocabulary grow with the individual.\n\nCoughDrop allows the user to operate their AAC on multiple devices, and to share access with their support team. It includes training, reporting, tracking and assessment tools, and strict privacy controls to help the AAC user remain protected while also optimizing everyone's effort in supporting them.\n\nCoughDrop offers a free two-month trial for all users, followed by either one-time purchase or monthly subscription options.",
        reviewed: 1713208175
      },
      {
        name: "Weave Chat AAC", 
        id: "weavechat", 
        rank: 1, 
        url: "https://www.weavechat.com/", 
        image_url: "/images/2024/weave.png", 
        video_id: "",
        desc: "Weave Chat AAC is a free and dynamic AAC application that can be used on iOS, Android (including Chromebooks), and Kindle devices. There are several boards to choose from, including the default “scrolling” board, which is designed to be used on a phone; additionally, there are a variety of grid boards, many of which are designed for the larger screen of a tablet. Features include custom buttons and phrases; record speech to a button; word finder; symbol or text-only functionality; in-app support; and individual & group texting with symbols and/or words. Spanish will be available in early 2025.",
        reviewed: 1715297412
      },
      {
        name: "Speak For Yourself", 
        id: "sfy", 
        rank: 1, 
        url: "https://speakforyourself.org/", 
        image_url: "/images/2024/sfy.png", 
        video_id: "",
        desc: "Speak for Yourself (SfY) is an Augmentative and Alternative Communication (AAC) application that was created by speech-language pathologists.  This AAC app turns the iPad into a communication device. It gives a voice to adults and children who are not able to speak or are limited in their ability to express themselves verbally.",
        reviewed: 1716357600
      },
      {
        name: "Grid", 
        id: "grid", 
        rank: 1, 
        url: "https://thinksmartbox.com/", 
        image_url: "/images/2024/grid.png", 
        video_id: "",
        desc: "Grid is used by children and adults with communication difficulties across the world to have a voice and live more independently. Available on Windows and iPad, Grid always includes our premier symbol-centric vocabularies: Super Core, a research-based core vocabulary, and Voco Chat, a pragmatically organized symbol vocabulary. Grid can be used with a range of symbol libraries, including SymbolStix, PCS, and Widgit, with a wide variety of grid sets for all abilities and access modalities.",
        reviewed: 1715297412
      }
      // Pasco (not approved yet)
    ];
  </script>
</head>
