<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{% if page.title %}{{ page.title | escape }} - OpenAAC{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description | strip_html }}{% endif %}{% endif %}">
  <!--[if lte IE 8]><script src="{{ "/js/ie/html5shiv.js" | prepend: site.baseurl }}"></script><![endif]-->
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}" />
  <link rel="stylesheet" href="{{ "/css/ext.css" | prepend: site.baseurl }}" />
  <!--[if lte IE 8]><link rel="stylesheet" href="{{ "/css/ie8.css" | prepend: site.baseurl }}" /><![endif]-->
  <!--[if lte IE 9]><link rel="stylesheet" href="{{ "/css/ie9.css" | prepend: site.baseurl }}" /><![endif]-->
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
  <link rel="shortcut icon" href="/favicon.ico">
  <meta property="og:locale" content="en_US"/>
  <meta property="og:type" content="website" />
  <meta property="og:title" content="{% if page.title %}{{ page.title | escape }} - OpenAAC{% else %}{{ site.title | escape }}{% endif %}" />
  <meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />
  <meta property="og:site_name" content="{{ site.title }}" />
  <meta property="og:description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 100 }}{% if page.excerpt %} - {{ page.excerpt | strip_html | strip_newlines | truncate: 100 }}{% endif %}{% else %}{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description | strip_html }}{% endif %}{% endif %}" />
  <meta property="og:image" content="{% if page.image %}{{page.image | prepend: site.baseurl | prepend: site.url}}{% else %}{{'/images/logo.png' | prepend: site.baseurl | prepend: site.url}}{% endif %}" />  
  <script>
    window.app_list = [
      {
        name: "CoughDrop", 
        id: "coughdrop", 
        rank: 1, 
        url: "https://www.coughdrop.com", 
        image_url: "/images/2024/coughdrop.png", 
        video_id: "GOgzpO9_NwE",
        desc: "CoughDrop is a cloud-based AAC app, available on popular app stores or on the web. CoughDrop provides robust vocabulary sets for a variety of functional levels, and includes built-in tools to help the vocabulary grow with the individual.\n\nCoughDrop allows the user to operate their AAC on multiple devices, and to share access with their support team. It includes training, reporting, tracking and assessment tools, and strict privacy controls to help the AAC user remain protected while also optimizing everyone's effort in supporting them.\n\nCoughDrop offers a free two-month trial for all users, followed by either one-time purchase or monthly subscription options.",
        reviewed: 1713208175
      },
      {
        name: "Weave Chat AAC", 
        id: "weavechat", 
        rank: 1, 
        url: "https://www.weavechat.com/", 
        image_url: "/images/2024/weave.png", 
        video_id: "",
        desc: "Weave Chat AAC is a free and dynamic AAC application that can be used on iOS, Android (including Chromebooks), and Kindle devices. There are several boards to choose from, including the default “scrolling” board, which is designed to be used on a phone; additionally, there are a variety of grid boards, many of which are designed for the larger screen of a tablet. Features include custom buttons and phrases; record speech to a button; word finder; symbol or text-only functionality; in-app support; and individual & group texting with symbols and/or words. Spanish will be available in early 2025.",
        reviewed: 1715297412
      },
      {
        name: "Speak For Yourself", 
        id: "sfy", 
        rank: 1, 
        url: "https://speakforyourself.org/", 
        image_url: "/images/2024/sfy.png", 
        video_id: "",
        desc: "Speak for Yourself (SfY) is an Augmentative and Alternative Communication (AAC) application that was created by speech-language pathologists.  This AAC app turns the iPad into a communication device. It gives a voice to adults and children who are not able to speak or are limited in their ability to express themselves verbally.",
        reviewed: 1716357600
      },
      {
        name: "Grid", 
        id: "grid", 
        rank: 1, 
        url: "https://thinksmartbox.com/", 
        image_url: "/images/2024/grid.png", 
        video_id: "",
        desc: "Grid is used by children and adults with communication difficulties across the world to have a voice and live more independently. Available on Windows and iPad, Grid always includes our premier symbol-centric vocabularies: Super Core, a research-based core vocabulary, and Voco Chat, a pragmatically organized symbol vocabulary. Grid can be used with a range of symbol libraries, including SymbolStix, PCS, and Widgit, with a wide variety of grid sets for all abilities and access modalities.",
        reviewed: 1715297412
      },
      {
        name: "TouchChat HD",
        id: "touchchat",
        rank: 1,
        url: "",
        image_url: "/images/2024/touchchat.jpeg", 
        video_id: "",
        desc: "Grid is used by children and adults with communication difficulties across the world to have a voice and live more independently. Available on Windows and iPad, Grid always includes our premier symbol-centric vocabularies: Super Core, a research-based core vocabulary, and Voco Chat, a pragmatically organized symbol vocabulary. Grid can be used with a range of symbol libraries, including SymbolStix, PCS, and Widgit, with a wide variety of grid sets for all abilities and access modalities.",
        reviewed: 0
      },
      {
        name: "LAMP",
        id: "lamp",
        rank: 1,
        url: "",
        image_url: "/images/2024/lampwfl.png", 
        video_id: "",
        desc: "Grid is used by children and adults with communication difficulties across the world to have a voice and live more independently. Available on Windows and iPad, Grid always includes our premier symbol-centric vocabularies: Super Core, a research-based core vocabulary, and Voco Chat, a pragmatically organized symbol vocabulary. Grid can be used with a range of symbol libraries, including SymbolStix, PCS, and Widgit, with a wide variety of grid sets for all abilities and access modalities.",
        reviewed: 0
      },
      {
        name: "Proloquo2Go",
        id: "p2go",
        rank: 1,
        url: "",
        image_url: "/images/2024/p2go.png", 
        video_id: "",
        desc: "Grid is used by children and adults with communication difficulties across the world to have a voice and live more independently. Available on Windows and iPad, Grid always includes our premier symbol-centric vocabularies: Super Core, a research-based core vocabulary, and Voco Chat, a pragmatically organized symbol vocabulary. Grid can be used with a range of symbol libraries, including SymbolStix, PCS, and Widgit, with a wide variety of grid sets for all abilities and access modalities.",
        reviewed: 0
      },
      {
        name: "Proloquo",
        id: "proloquo",
        rank: 1,
        url: "",
        image_url: "/images/2024/proloquo.png", 
        video_id: "",
        desc: "Grid is used by children and adults with communication difficulties across the world to have a voice and live more independently. Available on Windows and iPad, Grid always includes our premier symbol-centric vocabularies: Super Core, a research-based core vocabulary, and Voco Chat, a pragmatically organized symbol vocabulary. Grid can be used with a range of symbol libraries, including SymbolStix, PCS, and Widgit, with a wide variety of grid sets for all abilities and access modalities.",
        reviewed: 0
      },
      {
        name: "PODD",
        id: "podd",
        rank: 1,
        url: "",
        image_url: "/images/2024/podd.png", 
        video_id: "",
        desc: "Grid is used by children and adults with communication difficulties across the world to have a voice and live more independently. Available on Windows and iPad, Grid always includes our premier symbol-centric vocabularies: Super Core, a research-based core vocabulary, and Voco Chat, a pragmatically organized symbol vocabulary. Grid can be used with a range of symbol libraries, including SymbolStix, PCS, and Widgit, with a wide variety of grid sets for all abilities and access modalities.",
        reviewed: 0
      },
      {
        name: "TD Snap",
        id: "td-snap",
        rank: 1,
        url: "",
        image_url: "/images/2024/tdsnap.png", 
        video_id: "",
        desc: "Grid is used by children and adults with communication difficulties across the world to have a voice and live more independently. Available on Windows and iPad, Grid always includes our premier symbol-centric vocabularies: Super Core, a research-based core vocabulary, and Voco Chat, a pragmatically organized symbol vocabulary. Grid can be used with a range of symbol libraries, including SymbolStix, PCS, and Widgit, with a wide variety of grid sets for all abilities and access modalities.",
        reviewed: 0
      },
      {
        name: "TD Communicator",
        id: "td-communicator",
        rank: 1,
        url: "",
        image_url: "/images/2024/tdcomm.png", 
        video_id: "",
        desc: "Grid is used by children and adults with communication difficulties across the world to have a voice and live more independently. Available on Windows and iPad, Grid always includes our premier symbol-centric vocabularies: Super Core, a research-based core vocabulary, and Voco Chat, a pragmatically organized symbol vocabulary. Grid can be used with a range of symbol libraries, including SymbolStix, PCS, and Widgit, with a wide variety of grid sets for all abilities and access modalities.",
        reviewed: 0
      },
      {
        name: "Avaz",
        id: "avaz",
        rank: 1,
        url: "",
        image_url: "/images/2024/avaz.png", 
        video_id: "",
        desc: "Grid is used by children and adults with communication difficulties across the world to have a voice and live more independently. Available on Windows and iPad, Grid always includes our premier symbol-centric vocabularies: Super Core, a research-based core vocabulary, and Voco Chat, a pragmatically organized symbol vocabulary. Grid can be used with a range of symbol libraries, including SymbolStix, PCS, and Widgit, with a wide variety of grid sets for all abilities and access modalities.",
        reviewed: 0
      },
      // Pasco (not approved yet)
      // TouchChat, LAMP WFL, P2Go, Proloquo, TD Snap
      // PODD, WeaveChat, TD Communicator, P4Text, Avaz
      // Additional details to include:
      // app store listings/OS options
      // specializations
      // types of alt access available
      // symbol libraries available
      // price to purchase, addon costs 
      // links to vocabs
    ];
    window.vocab_list = [
      {
        id: "qc",
        image_url: "https://www.openaac.org/images/2024/quick-core-star.png",
        name: "Quick Core",
        apps: ["CoughDrop"],
        start_year: 2014,
        platforms: ["iOS", "Android", "Windows", "Web"],
        summary: "free, core+motor-planning, 5000ish words, mostly 2-levels",
        license: "CC-By OpenAAC",
        reviewed: 1732141244,
        care_rating: [95.28, 2],
        sizes: [
          {
            id: "qc24",
            rows: 4,
            columns: 6,
            buttons: 584,
            boards: 49,
            preview_url: "/images/2024/screenshots/qc24.png",
            care_score: 153.0,
          },
          {
            id: "qc40",
            rows: 5,
            columns: 8,
            buttons: 1624,
            boards: 63,
            preview_url: "/images/2024/screenshots/qc40.png",
            care_score: 187.7,
          },
          {
            id: "qc60",
            rows: 6,
            columns: 10,
            buttons: 1959,
            boards: 61,
            preview_url: "/images/2024/screenshots/qc60.png",
            care_score: 197.8,
          },
          {
            id: "qc84",
            rows: 7,
            columns: 12,
            buttons: 3832,
            boards: 77,
            preview_url: "/images/2024/screenshots/qc84.png",
            care_score: 214.4,
          },
          {
            id: "qc112",
            rows: 8,
            columns: 14,
            buttons: 4349,
            boards: 78,
            preview_url: "/images/2024/screenshots/qc112.png",
            care_score: 216.8,
          },
        ]
      },
      {
        id: "pc36",
        image_url: "/images/2024/project-core.png",
        name: "Universal Core",
        apps: ["CoughDrop", "Speak For Yourself", "Proloquo2Go", "Avaz", "Clicker", "MindExpress", "Grid", "TD Snap"],
        platforms: ["iOS", "Android", "Windows", "Web"],
        summary: "free, core list, 36 words, single-level\nNOTE: Project Core's CARE Score is provided as a reference point, its intended purpose differs from larger robust vocabularies and shouldn't be considered of lesser quality",
        care_rating: [72.50, 2],
        care_score: 83.4,
        rows: 6,
        columns: 6,
        boards: 1,
        buttons: 36,
        preview_url: "/images/2024/screenshots/pc36.png",
        reviewed: 1732141244,
        license: "CC-By, Project Core"
      },
      {
        id: "sfy",
        image_url: "/images/2024/sfy.png",
        name: "Speak For Yourself",
        apps: ["Speak For Yourself"],
        platforms: ["iOS"],
        summary: "app-specific, core+motor-planning, 2-levels",
        rows: 8,
        columns: 15,
        boards: 87,
        buttons: 4993,
        preview_url: "/images/2024/screenshots/sfy.png",
        care_score: 203.7,
        care_rating: [101.49, 4],
        reviewed: 1732141244,
        license: "Private, Speak For Yourself"
      },
      {
        id: "l84f",
        image_url: "/images/2024/lampwfl.png",
        name: "LAMP Words for Life",
        apps: ["LAMP"],
        platforms: ["iOS"],
        summary: "proprietary, semantic compaction, 3-levels",
        description: [
          "proprietary, semantic compaction, 3-levels",
          "NOTE: Words for Life is based on the Unity vocabulary, but had been modified, primarily to make it so no words takes more than three button hits, and to remove duplication of words on different boards. There was also work done to increase spacing between buttons where possible, and to make discovery a little easier. The main emphasis of LAMP, which is to ensure a consistent motor pathway for any word, was the driver for most of these changes. Also, the only grid size migrated from Unity to Words for Life is the 84-button grid size.",
        ],
        start_year: 2012,
        rows: 7,
        columns: 12,
        boards: 480,
        buttons: 4576,
        preview_url: "/images/2024/screenshots/wfl.png",
        care_rating: [96.40, 6],
        care_score: 198.2,
        reviewed: 1732141244,
        license: "Private, PRC-Saltillo"
      },
      {
        id: "wp",
        image_url: "/images/2024/touchchat.jpeg",
        name: "WordPower",
        apps: ["TouchChat", "Grid"],
        platforms: ["iOS", "Windows"],
        start_year: 2000,
        summary: "proprietary, core+categories, multi-levels",
        care_rating: [102.67, 6],
        sizes: [
          {
            id: "wp20",
            rows: 4,
            columns: 5,
            boards: 301,
            buttons: 2085,
            preview_url: "/images/2024/screenshots/wp20.png",
            care_score: 178.4
          },
          {
            id: "wp42",
            rows: 6,
            columns: 7,
            boards: 349,
            buttons: 2462,
            preview_url: "/images/2024/screenshots/wp42.png",
            care_score: 197.1
          },
          {
            id: "wp60",
            rows: 6,
            columns: 10,
            boards: 343,
            buttons: 2658,
            preview_url: "/images/2024/screenshots/wp60.png",
            care_score: 199.3
          },
          {
            id: "wp80",
            rows: 8,
            columns: 10,
            boards: 212,
            buttons: 2460,
            preview_url: "/images/2024/screenshots/wp80.png",
            care_score: 184.9
          },
          {
            id: "wp108",
            rows: 9,
            columns: 12,
            boards: 212,
            buttons: 2556,
            preview_url: "/images/2024/screenshots/wp108.png",
            care_score: 187.2
          },
        ],
        reviewed: 1732141244,
        license: "Private, Inman Innovations"
      },
      {
        id: "vf",
        image_url: "https://www.openaac.org/images/2024/vocal-flair-star.png",
        name: "Vocal Flair",
        apps: ["CoughDrop"],
        start_year: 2020,
        platforms: ["iOS", "Android", "Windows", "Web"],
        summary: "free, core+categories, multi-levels",
        reviewed: 1732141244,
        license: "CC-By OpenAAC",
        care_rating: [0, 0],
        sizes: [
          {
            id: "vf24",
            rows: 4,
            columns: 6,
            preview_url: "/images/2024/screenshots/vf24.png",
            care_score: 173.0,
          },
          {
            id: "vf40",
            rows: 5,
            columns: 8,
            preview_url: "/images/2024/screenshots/vf40.png",
            care_score: 186.8,
          },
          {
            id: "vf60",
            rows: 6,
            columns: 10,
            preview_url: "/images/2024/screenshots/vf60.png",
            care_score: 192.6,
          },
          {
            id: "vf84",
            rows: 7,
            columns: 12,
            preview_url: "/images/2024/screenshots/vf84.png",
            care_score: 191.7,
          },
          {
            id: "vf84kb",
            rows: 7,
            columns: 12,
            preview_url: "/images/2024/screenshots/vf84kb.png",
            care_score: 191.7,
          },
          {
            id: "vf112",
            rows: 8,
            columns: 14,
            preview_url: "/images/2024/screenshots/vf112.png",
            care_score: 186.6,
          },
        ]
      },
      {
        id: "supercore",
        image_url: "https://www.openaac.org/images/2024/super-core.png",
        name: "SuperCore",
        apps: ["Grid"],
        platforms: ["iOS", "Windows"],
        summary: "",
        rows: 1,
        columns: 1,
        care_rating: [80.0, 1],
        care_score: "N/A",
        reviewed: 0,
        license: "private, Smartbox",
      },
      {
        id: "crescendo",
        image_url: "https://www.openaac.org/images/2024/crescendo.png",
        name: "Crescendo",
        apps: ["Proloquo2Go"],
        platforms: ["iOS"],
        summary: "",
        rows: 1,
        columns: 1,
        start_year: 2020,
        care_rating: [89.28, 5],
        care_score: "N/A",
        reviewed: 0,
        license: "private, AssistiveWare",
      },
      {
        id: "crescendo_evo",
        image_url: "https://www.openaac.org/images/2024/crescendo.png",
        name: "Crescendo Evolution",
        apps: ["Proloquo"],
        platforms: ["iOS"],
        summary: "",
        start_year: 2020,
        rows: 1,
        columns: 1,
        care_rating: [96.75, 2],
        care_score: "N/A",
        reviewed: 0,
        license: "private, AssistiveWare",
      },
      {
        id: "podd",
        image_url: "https://www.openaac.org/images/2024/podd.png",
        name: "PODD",
        apps: ["SimPODD", "Grid"],
        platforms: ["iOS", "Windows"],
        summary: "",
        rows: 1,
        columns: 1,
        start_year: 2009,
        care_rating: [75.65, 2],
        care_score: "N/A",
        reviewed: 0,
        license: "Private, Gayle Porter",
      },
      // TODO: SuperCore, AlphaGrid, PODD, Crescendo,
      // Crescendo Evolution, Snap Core First, Snap Motor Plan
      // Avaz, WeaveChat, CBoard, Clicker, GoTalk Now Plus
    ];
  </script>
</head>
