<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{% if page.title %}{{ page.title | escape }} - OpenAAC{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description | strip_html }}{% endif %}{% endif %}">
  <!--[if lte IE 8]><script src="{{ "/js/ie/html5shiv.js" | prepend: site.baseurl }}"></script><![endif]-->
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}" />
  <link rel="stylesheet" href="{{ "/css/ext.css" | prepend: site.baseurl }}" />
  <!--[if lte IE 8]><link rel="stylesheet" href="{{ "/css/ie8.css" | prepend: site.baseurl }}" /><![endif]-->
  <!--[if lte IE 9]><link rel="stylesheet" href="{{ "/css/ie9.css" | prepend: site.baseurl }}" /><![endif]-->
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
  <link rel="shortcut icon" href="/favicon.ico">
  <meta property="og:locale" content="en_US"/>
  <meta property="og:type" content="website" />
  <meta property="og:title" content="{% if page.title %}{{ page.title | escape }} - OpenAAC{% else %}{{ site.title | escape }}{% endif %}" />
  <meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />
  <meta property="og:site_name" content="{{ site.title }}" />
  <meta property="og:description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 100 }}{% if page.excerpt %} - {{ page.excerpt | strip_html | strip_newlines | truncate: 100 }}{% endif %}{% else %}{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description | strip_html }}{% endif %}{% endif %}" />
  <meta property="og:image" content="{% if page.image %}{{page.image | prepend: site.baseurl | prepend: site.url}}{% else %}{{'/images/logo.png' | prepend: site.baseurl | prepend: site.url}}{% endif %}" />  
  <script>
      // accessibility options
      //    'gaze', 'head', 'scan', 'prompt', 'fishing',
      //    'highlight', 'dwell', 'hc', 'text', 'skin',
      //    'asl', 'font-size', 'font', 'select', 'flip',
      //    'swipe', 'kb', 'grammar', 'repairs', 'wait',
      //    'oops', 'hold', 'find+', 'find',
      // '!hw' = requires external hardware
      // '!vend' = requires vendor-specific external hardware
      // '!sys' = relies on platform-provided accessibility
      // '!ipadpro' = requires iPad Pro models
      // '!lim' = not available on all platforms
    window.app_list = [
      {
        name: "CoughDrop", 
        id: "coughdrop", 
        rank: 1, 
        url: "https://www.coughdrop.com", 
        image_url: "/images/2024/coughdrop.png", 
        preview_url: "/images/2024/screenshots/qc60.png",
        video_id: "GOgzpO9_NwE",
        trial: "2-month free trial for all users",
        pricing: "$9 per month or $295 one-time fee, or $25 one-time supporter fee",
        platforms: [
          ['iOS', "https://apps.apple.com/us/app/coughdrop/id1021384570?ls=1"],
          ['Android', "https://play.google.com/store/apps/details?id=com.mycoughdrop.coughdrop&pli=1"],
          ['Amazon', "https://www.amazon.com/CoughDrop-Inc-AAC/dp/B01BU8RUEY/ref=sr_1_1?s=mobile-apps&ie=UTF8&qid=1458589410&sr=1-1"],
          ['Windows', "https://www.mycoughdrop.com/download"],
          ['Web', "https://app.mycoughdrop.com"]
        ],
        access: [
          'gaze', 'head', 'scan', 'prompt',
          'highlight', 'dwell', 'hc', 'text', 'skin',
          'font-size', 'font', 'select', 'flip',
          'kb', 'grammar', 'repairs', 'wait',
          'oops', 'hold', 'find+', 'find', 'keyboard'
        ],
        desc: "CoughDrop is a cloud-based AAC app, available on popular app stores or on the web. CoughDrop provides robust vocabulary sets for a variety of functional levels, and includes built-in tools to help the vocabulary grow with the individual.\n\nCoughDrop allows the user to operate their AAC on multiple devices, and to share access with their support team. It includes training, reporting, tracking and assessment tools, and strict privacy controls to help the AAC user remain protected while also optimizing everyone's effort in supporting them.\n\nCoughDrop offers a free two-month trial for all users, followed by either one-time purchase or monthly subscription options.",
        reviewed: 1713208175
      },
      {
        name: "Weave Chat AAC", 
        id: "weavechat", 
        rank: 1, 
        url: "https://www.weavechat.com/", 
        image_url: "/images/2024/weave.png", 
        pricing: "free",
        platforms: [
          ['iOS', "https://apps.apple.com/us/app/weave-chat/id1579129212?amp%3Bitscg=30200&itsct=apps_box_badge"],
          ['Android', "https://play.google.com/store/apps/details?id=com.weavechat.weavechat&pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1"],
          ['Amazon', "https://www.amazon.com/gp/product/B0C9226JWP"],
        ],
        access: [
          'text',
          'font-size', 'font',
          'swipe', 'kb', 'find', 'wait', 
          'hold', 'find', 'keyboard', 'grammaer', 
        ],
        video_id: "i6-ik-pn1kk",
        desc: "Weave Chat AAC is a free and dynamic AAC application that can be used on iOS, Android (including Chromebooks), and Kindle devices. There are several boards to choose from, including the default “scrolling” board, which is designed to be used on a phone; additionally, there are a variety of grid boards, many of which are designed for the larger screen of a tablet. Features include custom buttons and phrases; record speech to a button; word finder; symbol or text-only functionality; in-app support; and individual & group texting with symbols and/or words. Spanish will be available in early 2025.",
        reviewed: 1715297412
      },
      {
        name: "Speak For Yourself", 
        id: "sfy", 
        rank: 1, 
        url: "https://speakforyourself.org/", 
        image_url: "/images/2024/sfy.png", 
        preview_url: "/images/2024/screenshots/sfy.png",
        trial: "30-day free trial for all users",
        pricing: "$299.99 one-time fee",
        platforms: [
          ['iOS', "https://itunes.apple.com/us/app/speak-for-yourself/id482508198?mt=8"],
        ],
        access: [
          'text',
          'font-size', 'font', 'select',
          'kb', 'grammar', 'repairs',
          'oops', 'hold', 'find', 'skin'
        ],
        video_id: "yiucOuLIcOI",
        desc: "Speak for Yourself (SfY) is an Augmentative and Alternative Communication (AAC) application that was created by speech-language pathologists.  This AAC app turns the iPad into a communication device. It gives a voice to adults and children who are not able to speak or are limited in their ability to express themselves verbally.",
        reviewed: 1716357600
      },
      {
        name: "Grid", 
        id: "grid", 
        rank: 1, 
        url: "https://thinksmartbox.com/grid/", 
        image_url: "/images/2024/grid.png", 
        preview_url: "/images/2024/screenshots/sc50.webp",
        trial: "30-day free trial for all users",
        pricing: "$10.99 per month or $299.99 one-time fee",
        platforms: [
          ['iOS', "https://apps.apple.com/gb/app/grid-for-ipad-subscription/id1064332378"],
          ['Windows', "https://thinksmartbox.com/download-grid/"],
        ],
        access: [
          'scan!vend', 'head!lim', 'font', 'font-size', 'hc',
          'skin', 'kb', 'find', 'grammar', 'wait', 'repairs', 
        ],
        video_id: "5Ox4y1OrjdM",
        desc: "Grid is used by children and adults with communication difficulties across the world to have a voice and live more independently. Available on Windows and iPad, Grid always includes our premier symbol-centric vocabularies: Super Core, a research-based core vocabulary, and Voco Chat, a pragmatically organized symbol vocabulary. Grid can be used with a range of symbol libraries, including SymbolStix, PCS, and Widgit, with a wide variety of grid sets for all abilities and access modalities.",
        reviewed: 1715297412
      },
      {
        name: "TouchChat HD",
        id: "touchchat",
        rank: 1,
        url: "https://touchchatapp.com/touchchat-hd-aac-with-wordpower",
        image_url: "/images/2024/touchchat.jpeg", 
        preview_url: "/images/2024/screenshots/wp80.png",
        trial: "30-day free trial for all users",
        pricing: "$299.99 one-time fee",
        platforms: [
          ['iOS', "https://apps.apple.com/us/app/touchchat-hd-aac-wordpower/id412351574"],
        ],
        access: [
          'scan!vend', 'head', 'font', 'font-size', 'text',
          'hc', 'skin', 'kb', 'find', 'grammar', 'wait', 'repairs', 
        ],
        video_id: "xj_t-BVIG3M",
        desc: "Grid is used by children and adults with communication difficulties across the world to have a voice and live more independently. Available on Windows and iPad, Grid always includes our premier symbol-centric vocabularies: Super Core, a research-based core vocabulary, and Voco Chat, a pragmatically organized symbol vocabulary. Grid can be used with a range of symbol libraries, including SymbolStix, PCS, and Widgit, with a wide variety of grid sets for all abilities and access modalities.",
        reviewed: 0
      },
      {
        name: "LAMP Words for Life",
        id: "lamp",
        rank: 1,
        url: "https://lampwflapp.com/",
        image_url: "/images/2024/lampwfl.png", 
        preview_url: "/images/2024/screenshots/wfl.png",
        trial: "trial available by contacting PRC-Saltillo consultant",
        pricing: "$299.99 one-time fee",
        platforms: [
          ['iOS', "https://apps.apple.com/us/app/lamp-words-for-life/id551215116"],
        ],
        access: [
          'scan!vend', 'head', 'kb', 'grammar', 
          'font', 'font-size', 'find', 
        ],
        video_id: "VEfSVT5b5P4",
        desc: "Grid is used by children and adults with communication difficulties across the world to have a voice and live more independently. Available on Windows and iPad, Grid always includes our premier symbol-centric vocabularies: Super Core, a research-based core vocabulary, and Voco Chat, a pragmatically organized symbol vocabulary. Grid can be used with a range of symbol libraries, including SymbolStix, PCS, and Widgit, with a wide variety of grid sets for all abilities and access modalities.",
        reviewed: 0
      },
      {
        name: "Proloquo2Go",
        id: "p2go",
        rank: 1,
        url: "https://www.assistiveware.com/products/proloquo2go",
        image_url: "/images/2024/p2go.png", 
        preview_url: "/images/2024/screenshots/cres77.webp",
        pricing: "$249.99 one-time fee",
        platforms: [
          ['iOS', "https://apps.apple.com/us/app/proloquo2go/id308368164?mt=8&at=11l5JI&pt=214921&ct=productpage"],
        ],
        access: [
          'scan', 'font', 'font-size', 'skin', 'kb', 'find',
          'grammar', 'wait', 'repairs',  
        ],
        video_id: "d3zKPHLk6-Q",
        desc: "Grid is used by children and adults with communication difficulties across the world to have a voice and live more independently. Available on Windows and iPad, Grid always includes our premier symbol-centric vocabularies: Super Core, a research-based core vocabulary, and Voco Chat, a pragmatically organized symbol vocabulary. Grid can be used with a range of symbol libraries, including SymbolStix, PCS, and Widgit, with a wide variety of grid sets for all abilities and access modalities.",
        reviewed: 0
      },
      {
        name: "Proloquo",
        id: "proloquo",
        rank: 1,
        url: "https://www.assistiveware.com/products/proloquo",
        image_url: "/images/2024/proloquo.png", 
        preview_url: "/images/2024/screenshots/crese60.png",
        pricing: "$9.99 per month or $99.99 per year",
        platforms: [
          ['iOS', "https://apps.apple.com/app/apple-store/id1521978238?pt=214921&ct=ProductPage&mt=8"],
        ],
        access: [
          'kb'
        ],
        video_id: "qLrjpA8Y0M4",
        desc: "Grid is used by children and adults with communication difficulties across the world to have a voice and live more independently. Available on Windows and iPad, Grid always includes our premier symbol-centric vocabularies: Super Core, a research-based core vocabulary, and Voco Chat, a pragmatically organized symbol vocabulary. Grid can be used with a range of symbol libraries, including SymbolStix, PCS, and Widgit, with a wide variety of grid sets for all abilities and access modalities.",
        reviewed: 0
      },
      {
        name: "PODD",
        id: "podd",
        rank: 1,
        url: "https://www.assistiveware.com/blog/what-is-podd",
        image_url: "/images/2024/podd.png", 
        preview_url: "/images/2024/screenshots/podd.png",
        pricing: "$21.99 per month or $219.99 per year",
        platforms: [
          ['iOS (simPODD)', "https://apps.apple.com/app/simpodd/id1464489596?mt=8&at=11l5JI&pt=214921&ct=productpage&l=en"],
          ['iOS (Grid)', "https://apps.apple.com/gb/app/grid-for-ipad-subscription/id1064332378"],
          ['Windows (Grid)', "https://thinksmartbox.com/download-grid/"],
        ],
        video_id: "p87EqoE73q8",
        desc: "Grid is used by children and adults with communication difficulties across the world to have a voice and live more independently. Available on Windows and iPad, Grid always includes our premier symbol-centric vocabularies: Super Core, a research-based core vocabulary, and Voco Chat, a pragmatically organized symbol vocabulary. Grid can be used with a range of symbol libraries, including SymbolStix, PCS, and Widgit, with a wide variety of grid sets for all abilities and access modalities.",
        reviewed: 0
      },
      {
        name: "TD Snap",
        id: "td-snap",
        rank: 1,
        url: "https://us.tobiidynavox.com/pages/td-snap",
        image_url: "/images/2024/tdsnap.png", 
        trial: "30-day free trial for all users",
        pricing: "$9.99 per month",
        platforms: [
          ['iOS', "https://apps.apple.com/us/app/td-snap/id1072799231"],
        ],
        access: [
          'scan', 'fishing', 'gaze!vend',
          'font', 'font-size', 'text', 'hc', 'skin',
          'kb', 'find', 'grammar', 'wait', 'repairs', 
        ],
        video_id: "7rrC7MkQWHw",
        desc: "Grid is used by children and adults with communication difficulties across the world to have a voice and live more independently. Available on Windows and iPad, Grid always includes our premier symbol-centric vocabularies: Super Core, a research-based core vocabulary, and Voco Chat, a pragmatically organized symbol vocabulary. Grid can be used with a range of symbol libraries, including SymbolStix, PCS, and Widgit, with a wide variety of grid sets for all abilities and access modalities.",
        reviewed: 0
      },
      {
        name: "TD Communicator",
        id: "td-communicator",
        rank: 1,
        url: "https://us.tobiidynavox.com/pages/communicator-5",
        image_url: "/images/2024/tdcomm.png", 
        pricing: "$699 one-time fee",
        platforms: [
          ['iOS', "https://www.tobiidynavox.com/products/communicator-5"],
        ],
        access: [
          'scan', 'gaze', 'head',
          'font', 'font-size', 'text', 'kb'
        ],
        video_id: "h6aWGhAFpu0",
        desc: "Grid is used by children and adults with communication difficulties across the world to have a voice and live more independently. Available on Windows and iPad, Grid always includes our premier symbol-centric vocabularies: Super Core, a research-based core vocabulary, and Voco Chat, a pragmatically organized symbol vocabulary. Grid can be used with a range of symbol libraries, including SymbolStix, PCS, and Widgit, with a wide variety of grid sets for all abilities and access modalities.",
        reviewed: 0
      },
      {
        name: "Avaz",
        id: "avaz",
        rank: 1,
        url: "https://avazapp.com/products/avaz-aac-app/",
        image_url: "/images/2024/avaz.png", 
        trial: "14-day free trial",
        pricing: "$199 one-time fee",
        platforms: [
          ['iOS', "https://apps.apple.com/app/avaz-aac/id909574843"],
          ['Android', "https://play.google.com/store/apps/details?id=com.avazapp.international.lite&referrer=utm_source%3Dwebsite%26utm_medium%3Dproduct-page"],
        ],
        access: [
          'font-size', 'text', 'kb', 'find', 'grammaer',
          'wait', 'repairs', 
        ],
        video_id: "HUK0ekwR0MQ",
        desc: "Avaz is used by children and adults with communication difficulties across the world to have a voice and live more independently. Available on Windows and iPad, Grid always includes our premier symbol-centric vocabularies: Super Core, a research-based core vocabulary, and Voco Chat, a pragmatically organized symbol vocabulary. Grid can be used with a range of symbol libraries, including SymbolStix, PCS, and Widgit, with a wide variety of grid sets for all abilities and access modalities.",
        reviewed: 0
      },
      // clicker: 'font-size', 'font', 'text', 'grammar', 'repairs'
      // Pasco (not approved yet)
      // Niki Talk 2 Pro, Talk Suite Pro
      // simPODD, WeaveChat, P4Text, Clicker Communicator
      // Additional details to include:
      // specializations
      // types of alt access available
      // symbol libraries available
    ];
    window.vocab_list = [
      {
        id: "qc",
        image_url: "/images/2024/quick-core-star.png",
        name: "Quick Core",
        apps: ["coughdrop"],
        start_year: 2014,
        platforms: ["iOS", "Android", "Windows", "Web"],
        categories: ['motor'],
        summary: "free, core+motor-planning, 5000+ words, mostly 2-levels, meant for quick access to core words",
        description: [
          "free, core+motor-planning, 5000ish words, mostly 2-levels",
          "From the Author: Quick core is a large vocabulary set, with all buttons at most 3 button-presses away. Quick Core includes up to 4,000 words but include built-in areas for expansion. We are often working with therapists and experts to revise and improve our vocabulary sets.",
          "The board levels are based loosely around themes, but the real value of the vocabulary set is in its consistent motor plan. The top level has many common core words, with additional core and fringe words available in the second level. With so many words available with so few button presses, the communicator can gradually discover and learn motor paths for what they want to say.",
          "The included vocabulary was originally collected from multiple sources, including: DLM Core Maps, AAC RERC, PrAACtical AAC, English Word Frequencies, AACText.org and Core Compilation by Anderson/Bittner",
          "Once collected, the vocabulary was weighted based on recurrence and ordered position, and additional fringe vocabulary is added based on real-word feedback. The main board layout is based on starter core word recommendations from Carole Zangari, Kate Ahern and others, and is laid out according to common English sentence structure, with pronouns, then verbs, then adjectives, with supplements, questions, social at the bottom.",
          "Additional vocabulary is organized loosely with some groups being more intuitive than others (\"do\" contains additional active words, \"know\" contains learning and school words, \"those\" contains plants). For most users it will be easier to learn the buttons over time rather than trying to memorize the categories. This strategy isn't unique to CoughDrop but it can be a little intimidating at first. If you're stuck, use \"Find a Button\" when you're first getting started!",
          "If you're planning to add your own vocabulary, don't be afraid you're putting it in the \"wrong\" spot, just put it somewhere and help the communicator find and get used to the placement. Consistency is most important!",
        ],
        license: "CC-By OpenAAC",
        reviewed: 1732141244,
        care_rating: [175.14, 2],
        sizes: [
          {
            id: "qc24",
            rows: 4,
            columns: 6,
            buttons: 587,
            boards: 49,
            words: 584,
            preview_url: "/images/2024/screenshots/qc24.png",
            care_score: 153.0,
          },
          {
            id: "qc40",
            rows: 5,
            columns: 8,
            words: 1624,
            buttons: 1630,
            boards: 63,
            preview_url: "/images/2024/screenshots/qc40.png",
            care_score: 187.7,
          },
          {
            id: "qc60",
            rows: 6,
            columns: 10,
            buttons: 1970,
            words: 1959,
            boards: 61,
            preview_url: "/images/2024/screenshots/qc60.png",
            care_score: 197.8,
          },
          {
            id: "qc84",
            rows: 7,
            columns: 12,
            buttons: 3849,
            words: 3832,
            boards: 77,
            preview_url: "/images/2024/screenshots/qc84.png",
            care_score: 214.4,
          },
          {
            id: "qc112",
            rows: 8,
            columns: 14,
            buttons: 4373,
            words: 4349,
            boards: 78,
            preview_url: "/images/2024/screenshots/qc112.png",
            care_score: 216.8,
          },
        ]
      },
      {
        id: "pc36",
        image_url: "/images/2024/project-core.png",
        name: "Universal Core",
        apps: ["coughdrop", "sfy", "p2go", "avaz", "Clicker", "MindExpress", "grid", "td-snap"],
        platforms: ["iOS", "Android", "Windows", "Web"],
        summary: "free, core list, 36 words, single-level meant as starting point\nNOTE: Project Core's CARE Score is provided as a reference point, its intended purpose differs from larger robust vocabularies and shouldn't be considered of lesser quality",
        care_rating: [130.8, 2],
        care_score: 83.4,
        rows: 6,
        columns: 6,
        boards: 1,
        buttons: 36,
        words: 36,
        preview_url: "/images/2024/screenshots/pc36.png",
        reviewed: 1732141244,
        start_year: 2016,
        license: "CC-By, Project Core"
      },
      {
        id: "sfy",
        image_url: "/images/2024/sfy.png",
        name: "Speak For Yourself",
        apps: ["sfy"],
        platforms: ["iOS"],
        categories: ['motor'],
        summary: "app-specific, core+motor-planning, 5,000+ words, all 2-levels, expansion without affecting motor plan",
        description: [
          "app-specific, core+motor-planning, 5,000ish words, all 2-levels, expansion without affecting motor plan",
          "From the Author: Speak for Yourself AAC Language App was designed by two ASHA-certified speech-language pathologists (SLPs) with an extensive knowledge of AAC devices and implementation.",
          "Vocabulary is based on research of the most commonly used words across age, languages, settings, and situations. Eighty percent of the words that we use to communicate are comprised of a core vocabulary of 300-500 words.  This means that approximately only twenty percent of a person’s vocabulary is “personalized.” One hundred and nineteen of these core words constitute the main screen of Speak for Yourself.  Each of these buttons links to additional related core vocabulary words and personalized, programmable vocabulary.",
        ],
        rows: 8,
        columns: 15,
        boards: 87,
        buttons: 5064,
        words: 4993,
        preview_url: "/images/2024/screenshots/sfy.png",
        care_score: 203.7,
        care_rating: [188.58, 6],
        reviewed: 1732141244,
        start_year: 2013,
        license: "Private, Speak For Yourself"
      },
      {
        id: "l84f",
        image_url: "/images/2024/lampwfl.png",
        name: "LAMP Words for Life",
        apps: ["lamp"],
        platforms: ["iOS"],
        categories: ['motor'],
        summary: "proprietary, semantic compaction, 3-levels, 4000+ words, locations repeated for related concepts",
        description: [
          "proprietary, semantic compaction, 3-levels",
          "Words for Life is based on the Unity vocabulary, but has been modified, primarily to make it so no words takes more than three button hits, and to remove duplication of words on different boards. There was also work done to increase spacing between buttons where possible, and to make discovery a little easier. The main emphasis of LAMP, which is to ensure a consistent motor pathway for any word, was the driver for most of these changes. Also, the only grid size migrated from Unity to Words for Life is the 84-button grid size.",
        ],
        start_year: 2012,
        rows: 7,
        columns: 12,
        boards: 480,
        buttons: 4579,
        words: 4575,
        preview_url: "/images/2024/screenshots/wfl.png",
        care_rating: [188.46, 6],
        care_score: 198.2,
        reviewed: 1732141244,
        license: "Private, PRC-Saltillo"
      },
      {
        id: "wp",
        image_url: "/images/2024/touchchat.jpeg",
        name: "WordPower",
        apps: ["touchchat", "grid"],
        platforms: ["iOS", "Windows"],
        categories: ['category'],
        start_year: 2000,
        summary: "proprietary, core+categories, 2500+ words, multi-levels",
        description: [
          "proprietary, core+categories, 2500+ words, multi-levels, prioritizes core and supports natural sentence sequencing",
          "From the Author: WordPower software is a unique vocabulary design for an augmentative/alternative communication device. WordPower combines the features of core vocabulary, spelling and word prediction. The system takes advantage of the fact that while we may have a normal speaking vocabulary of between 10,000 and 30,000 words, a core of just 100 words accounts for approximately 50 percent of words spoken.",
          "WordPower was originally designed for an individual in need of an augmentative communication device based on words. A vocabulary based on pre-stored sentences would not meet his communication needs. Though he could see the advantage of a picture-based system with symbol sequencing, he did not want to learn the complex language coding system. At the same time, he wanted more than a system based on spelling and word prediction. WordPower provided him a fast and efficient language, with minimal time and effort required for learning the system.",
          "The core words of WordPower are categorized, color-coded and alphabetized for easy access. The main semantic categories include: Questions, Interjections, Pronouns, Negatives, Helping verbs, Verbs, Articles, Prepositions and conjunctions, Describing words, Indefinite pronouns, Time words.",
          "There are now several versions of WordPower and platforms on which it has been programmed. Though each platform varies and takes advantage of specific software features, the basics of WordPower remain consistent across platforms.",
        ],
        care_rating: [197.56, 7],
        sizes: [
          {
            id: "wp20",
            rows: 4,
            columns: 5,
            boards: 151,
            buttons: 1306,
            words: 1250,
            preview_url: "/images/2024/screenshots/wp20.png",
            care_score: 178.4
          },
          {
            id: "wp42",
            rows: 6,
            columns: 7,
            boards: 291,
            buttons: 2266,
            words: 2133,
            preview_url: "/images/2024/screenshots/wp42.png",
            care_score: 197.1
          },
          {
            id: "wp60",
            rows: 6,
            columns: 10,
            boards: 312,
            buttons: 2565,
            words: 2417,
            preview_url: "/images/2024/screenshots/wp60.png",
            care_score: 199.3
          },
          {
            id: "wp80",
            rows: 8,
            columns: 10,
            boards: 212,
            buttons: 2602,
            words: 2459,
            preview_url: "/images/2024/screenshots/wp80.png",
            care_score: 184.9
          },
          {
            id: "wp108",
            rows: 9,
            columns: 12,
            boards: 212,
            buttons: 2703,
            words: 2555,
            preview_url: "/images/2024/screenshots/wp108.png",
            care_score: 187.2
          },
        ],
        reviewed: 1732141244,
        start_year: 2000,
        license: "Private, Inman Innovations"
      },
      {
        id: "vf",
        image_url: "/images/2024/vocal-flair-star.png",
        name: "Vocal Flair",
        apps: ["coughdrop"],
        start_year: 2020,
        platforms: ["iOS", "Android", "Windows", "Web"],
        categories: ['category'],
        summary: "free, core+categories, 2500+ words, multi-levels, consistent access to categories and most frequent core",
        description: [
          "free, core+categories, multi-levels",
          "From the Author: Vocal Flair is a large vocabulary set with a main page that is primarily flat-but-dynamic core, and links to additional categorized support words. Vocal Flair has about 2,600 words but can easily grow, and contains pre-determined locations for personalized words and phrases. Emphasis is put on faster access to more-robust and more-common words, and a keyboard with built-in suggestions is also included, as well as alphabetized word lists, to increase flexibility.",
          "The included vocabulary is drawn from multiple sources, including Quick Core, PrAACCtical AAC, and various online word frequency lists, as noted on respective sub-boards.",
          "The top-level board is organized and color-coded around common sentence structure, and includes some dynamic buttons that can change based on prior buttons, but default to commonly-used words. Vocal Flair is designed to support auto-inflections to help speed up communication, and symbols can easily be disabled for a word-focused vocabulary.",
          "A collection of context-specific categories are included, and additional categories can easily be added or adjusted based on the needs of the individual communicator.",
          "Vocal Flair is built to be consistent for a developing communicator, while also being robust enough to grow with them grammatically, and to be straightforward enough for families and support teams to learn and implement in a variety of settings.",
        ],
        reviewed: 1732141244,
        license: "CC-By OpenAAC",
        care_rating: [169.6, 1],
        sizes: [
          {
            id: "vf24",
            rows: 4,
            columns: 6,
            boards: 108,
            buttons: 1603,
            words: 1582,
            preview_url: "/images/2024/screenshots/vf24.png",
            care_score: 173.0,
          },
          {
            id: "vf40",
            rows: 5,
            columns: 8,
            boards: 96,
            buttons: 1991,
            words: 1968,
            preview_url: "/images/2024/screenshots/vf40.png",
            care_score: 186.8,
          },
          {
            id: "vf60",
            rows: 6,
            columns: 10,
            boards: 95,
            buttons: 2515,
            words: 2492,
            preview_url: "/images/2024/screenshots/vf60.png",
            care_score: 192.6,
          },
          {
            id: "vf84",
            rows: 7,
            columns: 12,
            boards: 98,
            buttons: 2945,
            words: 2912,
            preview_url: "/images/2024/screenshots/vf84.png",
            care_score: 191.7,
          },
          /*{
            id: "vf84kb",
            rows: 7,
            columns: 12,
            preview_url: "/images/2024/screenshots/vf84kb.png",
            care_score: 190.7,
          },*/
          {
            id: "vf112",
            rows: 8,
            columns: 14,
            boards: 98,
            buttons: 2975,
            words: 2939,
            preview_url: "/images/2024/screenshots/vf112.png",
            care_score: 186.6,
          },
        ]
      },
      {
        id: "supercore",
        image_url: "/images/2024/super-core.png",
        name: "Super Core",
        apps: ["grid"],
        start_year: 2022,
        platforms: ["iOS", "Windows"],
        summary: "app-specific, core+categories, 3500+ words, multi-home, multi-levels",
        categories: ['category'],
        description: [
          "app-specific, core+categories, 3500+ words, multi-home, multi-levels, contextual vocab with core",
          "From the Vendor: Quickly access over 3,500 of the most commonly used words and phrases – organised in a consistent and meaningful way to help you find the words you need. Activity-based grids make it easy to get started.",
          "You’ll find lots of vocabulary relating to daily, play and leisure activities in Super Core, making it easier to learn and explore language with activities that are fun and familiar – and encourage AAC to be used all day, every day!",
          "The full vocabulary is available in two sizes (Super Core 50 and Super Core 30) to suit the needs of different learners. In both versions you can access all the same words and phrases. The Super Core Learning grids are also available in two sizes (12 and 20 cell).",
        ],
        reviewed: 1736291412,
        care_rating: [206, 1],
        license: "Private, Smartbox",
        sizes: [
          {
            id: "sc12",
            rows: 3,
            columns: 4,
            boards: 75,
            buttons: 450,
            words: 284,
            preview_url: "/images/2024/screenshots/sc12.webp",
            care_score: 74.89,
          },
          {
            id: "sc30",
            rows: 4,
            columns: 7,
            buttons: 3163,
            boards: 442,
            words: 2887,
            preview_url: "/images/2024/screenshots/sc30.jpg",
            care_score: 184.06,
          },
          {
            id: "sc50",
            rows: 6,
            columns: 9,
            boards: 388,
            buttons: 3173,
            words: 2935,
            preview_url: "/images/2024/screenshots/sc50.webp",
            care_score: 183.76,
          },
        ]
      },
      {
        id: "vc12",
        image_url: "/images/2024/voco-chat.webp",
        name: "Voco Chat",
        apps: ["grid"],
        platforms: ["iOS", "Windows"],
        categories: ['pragmatic'],
        summary: "app-specific, pragmatic, 1000+ words/phrases, large-button contextually-sequenced layout",
        description: [
          "app-specific, pragmatic, 1000+ words/phrases, large-button contextually-sequenced layout",
          "From the Vendor: Voco Chat is a pragmatically organised and supportive low-cell count symbol vocabulary in Grid. You’ll find language to communicate for a range of reasons, from telling someone your interests to talking about important topics such as mental health and wellbeing.",
          "Cells within Voco Chat will generate speech as well as jump to a new grid at the same time, for words that are relevant for help build your message efficiently.",
        ],
        rows: 3,
        columns: 4,
        boards: 367,
        buttons: 1586,
        words: 1457,
        start_year: 2020,
        care_rating: [218.8, 1],
        care_score: 124.54,
        reviewed: 1736291412,
        license: "Private, Smartbox",
      },
      {
        id: "bl99",
        image_url: "/images/2024/beeline.webp",
        preview_url: "/images/2024/screenshots/beeline.png",
        name: "Beeline Touch",
        apps: ["grid"],
        platforms: ["iOS", "Windows"],
        categories: ['motor'],
        summary: "app-specific, core+motor planning, 1000+ words/phrases, 1- or 2-hit access to all words",
        description: [
          "app-specific, core+motor planning, 1000+ words/phrases, 1- or 2-hit access to all words",
          "From the Vendor: A fast and efficient symbol communication grid set, giving access to the highest frequency core vocabulary in just one or two selections. With a rigid structure to support motor planning, vocabulary is organised logically, with words arranged in columns and grouped according to word meaning.",
        ],
        rows: 9,
        columns: 11,
        boards: 95,
        buttons: 2131,
        words: 1998,
        start_year: 2020,
        care_rating: [154.8, 1],
        care_score: 158.79,
        reviewed: 1736291412,
        license: "Private, Sensory Software",
      },
      /*{
        id: "st63",
        image_url: "/images/2024/symbol-talker.webp",
        preview_url: "/images/2024/screenshots/symbol-talker.png",
        name: "Symbol Talker D",
        apps: ["Grid"],
        platforms: ["iOS", "Windows"],
        categories: ['motor'],
        summary: "app-specific, core+motor planning, 1000+ words/phrases, 1- or 2-hit access to all words",
        description: [
          "app-specific, core+motor planning, 1000+ words/phrases, 1- or 2-hit access to all words",
          "From the Vendor: A fast and efficient symbol communication grid set, giving access to the highest frequency core vocabulary in just one or two selections. With a rigid structure to support motor planning, vocabulary is organised logically, with words arranged in columns and grouped according to word meaning.",
        ],
        rows: 9,
        columns: 11,
        boards: 95,
        buttons: 2131,
        words: 1998,
        start_year: 2020,
        care_rating: [0, 0],
        care_score: 158.79,
        reviewed: 1736291412,
        license: "Private, Sensory Software",
      },*/
      {
        id: "seq15",
        image_url: "/images/2024/sequoia-15.png",
        preview_url: "/images/2024/screenshots/seq15.png",
        name: "Sequoia",
        apps: ["coughdrop"],
        categories: ['pragmatic'],
        summary: "free, pragmatic, 1500+ words/phrases, large-button contextually-sequenced layout",
        description: [
          "free, pragmatic, 1500+ words/phrases, large-button contextually-sequenced layout",
          "From the Author: Sequoia-15 is a branching vocabulary set, built in an effort to support communication organized by pragmatic function but with the goal of encouraging expansion into generalized and core-oriented vocabulary.",
          "You can quickly say phrases and share concepts and ideas, or drill into topic areas where the vocabulary is focused on specific topics or contexts. There are open areas for adding personalized vocabulary.",
          "Sequoia-15 is inspired by, but different from, other categorical vocabulary sets like PODD, CommuniKate, etc. While supporting context-based communication, Sequoia tries to introduce as few context-specific clusters as possible and instead reuse more general clusters like verbs, feelings, etc.",
          "The top row in Sequoia is typically filled with colored links or sometimes semi-related buttons, which can also track down the right side if more are needed. The middle and lower rows include uncolored quick phrases and common words for each context. Links to general areas like \"questions\" and \"feelings\" are consistent across multiple contexts. This common layout increases familiarity and helps with visual scanning.",
          "Many folders are \"sticky\", meaning when you navigate to them you will stay on those boards until you explicitly navigate away.",
        ],
        start_year: 2022,
        platforms: ["iOS", "Android", "Windows", "Web"],
        rows: 3,
        columns: 5,
        boards: 247,
        buttons: 1650,
        words: 1610,
        care_rating: [151.6, 1],
        care_score: 144.71,
        reviewed: 1736291412,
        license: "CC-By OpenAAC",
      },
      {
        id: "cbc",
        image_url: "/images/2024/cboard.png",
        preview_url: "/images/2024/cboard-classic.png",
        name: "CBoard Classic",
        categories: ['category'],
        apps: ["CBoard"],
        summary: "free, category-based, 700+ words, multi-language support",
        start_year: 2021,
        platforms: ["iOS", "Android", "Windows", "Web"],
        rows: 3,
        columns: 6,
        boards: 43,
        buttons: 731,
        words: 723,
        care_rating: [101.6, 1],
        care_score: 81.56,
        reviewed: 1736291412,
        license: "GPLv3 CBoard",
      },
      {
        id: "cbu",
        image_url: "/images/2024/cboard.png",
        preview_url: "/images/2024/cboard-universal.png",
        name: "CBoard Universal Core",
        apps: ["CBoard"],
        summary: "free, category-based",
        start_year: 2023,
        platforms: ["iOS", "Android", "Windows", "Web"],
        rows: 5,
        columns: 11,
        boards: 6,
        buttons: 134,
        words: 134,
        care_rating: [114.0, 1],
        care_score: 82.69,
        reviewed: 1736291412,
        start_year: 2020,
        license: "GPLv3 CBoard",
      },
      {
        id: "ac99",
        image_url: "/images/2024/alpha-core.webp",
        preview_url: "/images/2024/screenshots/ac99.png",
        name: "Alpha Core",
        apps: ["Grid"],
        summary: "proprietary, keyboard, 600+ words, typing plus core and social access",
        description: [
          "proprietary, keyboard",
          "From the Vendor: Alpha Core is a text-based AAC vocabulary, that will support you however your access method changes over time. Developed by SLP Amy Roman.",
          "The Core Word keyboard provides you with the most commonly used words alongside a QWERTY keyboard, where you can spell out words that aren’t listed. They are arranged alphabetically and grouped by colour to make them easier to find.",
          "Alpha Core is designed for literate people with physical needs that may change over time, such as those with ALS or MND. Some people might start out using a touch screen and then find it more accurate to switch to eye gaze.",
          "Alpha Core was designed by SLP Amy Roman and is based on over 20 years of clinical experience working with people who have ALS, their families, caregivers and therapists.",
        ],
        start_year: 2014,
        platforms: ["iOS", "Windows"],
        categories: ['keyboard'],
        rows: 3,
        columns: 5,
        boards: 184,
        buttons: 749,
        words: 661,
        care_rating: [181.6, 1],
        care_score: 98.89,
        reviewed: 1736291412,
        start_year: 2000,
        license: "Private, Amy Roman",
      },
      {
        id: "coreword",
        image_url: "/images/2024/coreword.avif",
        name: "Core Word",
        apps: ["coughdrop", "ProSlate", "WinSlate"],
        platforms: ["iOS", "Android", "Windows", "Web"],
        categories: ['category'],
        summary: "proprietary, core+categories",
        description: [
          "proprietary, core+categories, flexible grid sizes",
          "From the Vendor: The CoreWord Language System provides AAC users with a powerful combination of core language, fringe vocabulary and banks of key phrases. The language system is divided into four distinct levels that correspond with vocabulary layouts: CoreWord 6, 12, 20, 40 and 60.",
          "The layout and content within each level are derived from studies of individuals using AAC across their lifespan. CoreWord 6 and 20 contain words most frequently used by emergent communicators and those who require larger buttons for access. CoreWord 40 offers more complex content, grammar tools and rate enhancement features. The CoreWord Language System is expanding! Now available in our most robust language system offering, CoreWord 60 is here!",
          "The CoreWord Language System features dynamic vocabulary layouts that automatically change as the user makes selections. Once a word has been selected, the layout updates to show only words that are likely to be used next. By offering these next words in plain view and removing unwanted vocabulary, users don’t have to waste time and energy searching for their next words, ensuring maximum efficiency with a minimal learning curve.",
        ],
        sizes: [
          {
            id: 'cw6',
            rows: 2,
            columns: 3,
            boards: 37,
            buttons: 111,
            words: 107,
            preview_url: "/images/2024/screenshots/cw6.avif",
            care_score: 57.8
          },
          {
            id: 'cw12',
            rows: 3,
            columns: 4,
            preview_url: "/images/2024/screenshots/cw12.avif",
            care_score: "unknown"
          },
          {
            id: 'cw20',
            rows: 4,
            columns: 5,
            boards: 80,
            buttons: 587,
            words: 557,
            preview_url: "/images/2024/screenshots/cw20.avif",
            care_score: 127.21
          },
          {
            id: 'cw40',
            rows: 5,
            columns: 8,
            boards: 121,
            buttons: 1248,
            words: 1118,
            preview_url: "/images/2024/screenshots/cw40.avif",
            care_score: 164.47
          },
          {
            id: 'cw60',
            rows: 6,
            columns: 10,
            boards: 137,
            buttons: 1384,
            words: 1303,
            preview_url: "/images/2024/screenshots/cw60.avif",
            care_score: 168.88
          },
        ],
        start_year: 2020,
        care_rating: [0, 0],
        reviewed: 1736291412,
        license: "Private, Forbes AAC",
      },
      {
        id: "crescendo",
        image_url: "/images/2024/p2go.png",
        name: "Crescendo",
        apps: ["p2go"],
        platforms: ["iOS"],
        categories: ['category'],
        summary: "app-specific, core+categories",
        description: [
          "app-specific, core+categories, flexible grid sizes",
          "From the Vendor: The Crescendo™ vocabulary offers consistent core word placement, extensive fringe and flexibility",
          "Easy access to “core words” is key for efficient communication. Core words are the high-frequency words, such as “I”, “you”, “go”, “do” that make up most of what we say. But not every AAC vocabulary keeps them in a consistent location. In Crescendo, buttons for core words appear in the same place on the home and fringe pages. This consistency supports learning through motor planning, a process your brain goes through when learning a new skill. Through consistent repetition, you learn to carry out tasks automatically.",
          "Proloquo2Go is one of the few AAC apps that covers all users, from beginning to advanced communicators, while catering for a wide range of fine-motor, visual and cognitive skills. Crescendo offers three pre-programmed vocabulary levels: Basic Communication, and the research-based Intermediate Core and Advanced Core levels. Users can move up and between levels while customizations are retained.",
          "NOTE: Because we have not been able to obtain a structure data file for the Crescendo vocabulary, we can't evaluate it for a CARE Score. If you can help us remedy this issue, please contact us right away.",
        ],
        sizes: [
          {
            rows: 3,
            columns: 5,
            preview_url: "/images/2024/screenshots/cres15.webp",
            care_score: "unknown"
          },
          {
            rows: 4,
            columns: 8,
            preview_url: "/images/2024/screenshots/cres32.webp",
            care_score: "unknown"
          },
          {
            rows: 7,
            columns: 11,
            preview_url: "/images/2024/screenshots/cres77.webp",
            care_score: "unknown"
          },
        ],
        start_year: 2020,
        care_rating: [201.12, 5],
        reviewed: 1736291412,
        license: "Private, AssistiveWare",
      },
      {
        id: "crescendo_evo",
        image_url: "/images/2024/crescendo-evolution.png",
        preview_url: "/images/2024/screenshots/crese60.png",
        name: "Crescendo Evolution",
        apps: ["proloquo"],
        platforms: ["iOS"],
        categories: ["category"],
        summary: "app-specific, core+categories, core layout is fixed for consistency",
        description: [
          "app-specific, core+categories, core layout is fixed for consistency",
          "From the Vendor: [Crescendo Evolution] offers an extensive vocabulary unmatched in size and efficiency that can support the growth of language skills at any age. With a user-friendly interface and innovative features, Proloquo ensures everyone can discover, learn and love language.",
          "Proloquo is arranged in a grid of 60 buttons per page. These buttons are larger than the regular icons and buttons on the iPad itself. If the user can independently use apps on an iPad, such as YouTube, then they can operate Proloquo. Unlike Proloquo, Proloquo2Go’s grid can be adjusted to accommodate different accessibility needs.",
          "Proloquo was designed to stay consistent. The preplanned vocabulary aids in motor planning, making it easier for users to develop muscle memory. This stability is essential for building language skills throughout an AAC user’s life. You never have to worry that other people (e.g., family members, teachers, therapists) will make changes that hamper language development or make it harder to find words.",
          "Out of the box, Proloquo offers 16,500 words, over four times more than any other AAC system. It includes a full range of curriculum words. This frees up parents and teachers to focus on customizing Proloquo by only needing to add the words, symbols, and photos that are most individual to the AAC user. New words are automatically synced across all devices. The user always has the same words in the same place, whether they are at home, school, or out in the community.",
          "NOTE: Because we have not been able to obtain a structure data file for the Crescendo Evolution vocabulary, we can't evaluate it for a CARE Score. If you can help us remedy this issue, please contact us right away.",
        ],
        start_year: 2020,
        rows: 6,
        columns: 10,
        care_rating: [208.1, 2],
        care_score: "unknown",
        reviewed: 1736291412,
        license: "Private, AssistiveWare",
      },
      {
        id: "podd",
        image_url: "/images/2024/podd.png",
        preview_url: "/images/2024/screenshots/podd.png",
        name: "PODD",
        apps: ["TD Communicator", "SimPODD", "grid"],
        platforms: ["iOS", "Windows"],
        categories: ['pragmatic'],
        summary: "proprietary, pragmatic, paper-based with dynamic implementations",
        description: [
          "proprietary, pragmatic, paper-based with dynamic implementations",
          "NOTE: Because we have not been able to obtain a structure data file for the PODD vocabulary, we can't evaluate it for a CARE Score. If you can help us remedy this issue, please contact us right away.",
        ],
        sizes: [
          {
            id: "podd15",
            rows: 3,
            columns: 5,
            preview_url: "/images/2024/screenshots/podd15.avif",
            care_score: "unknown",
          },
          {
            id: "podd60",
            rows: 6,
            columns: 10,
            preview_url: "/images/2024/screenshots/podd.png",
            care_score: "unknown",
          },
        ],
        start_year: 2009,
        care_rating: [176.82, 2],
        reviewed: 1736291412,
        license: "Private, Gayle Porter",
      },
      {
        id: "clicker",
        image_url: "/images/2024/clicker.jpeg",
        preview_url: "/images/2024/screenshots/podd.png",
        name: "Clicker Communicator",
        apps: ["Clicker"],
        platforms: ["iOS"],
        categories: ['category'],
        summary: "app-specific, core+categories, child/learner-focused vocabulary",
        description: [
          "proprietary, core+categories, child/learner-focused vocabulary",
          "From the Vendor: Clicker Communicator is the child-friendly AAC app that gives a voice to learners with speech and language difficulties. Clicker Communicator brings the power and ease of communicating with Clicker to iPad users too!",
          "The three ready-made Vocabulary Sets cover a wide ability range. They provide progression and are built using research-based core words, a proven approach for providing a rich communication experience and helping to develop language skills.",
          "NOTE: Because we have not been able to obtain a structure data file for the PODD vocabulary, we can't evaluate it for a CARE Score. If you can help us remedy this issue, please contact us right away.",
        ],
        sizes: [
          {
            id: "cl24",
            rows: 4,
            columns: 6,
            preview_url: "/images/2024/screenshots/cl24.png",
            care_score: "unknown",
          },
          {
            id: "cl35",
            rows: 5,
            columns: 7,
            preview_url: "/images/2024/screenshots/c35.png",
            care_score: "unknown",
          },
          {
            id: "cl54",
            rows: 6,
            columns: 9,
            preview_url: "/images/2024/screenshots/cl54.png",
            care_score: "unknown",
          },
        ],
        start_year: 2009,
        care_rating: [0, 0],
        reviewed: 1736291412,
        license: "Private, Crick Software",
      },
      // TODO: Snap Core First, Snap Motor Plan
      // Avaz, WeaveChat, CBoard, GoTalk Now Plus
    ];
    window.vocab_list.forEach(function(vocab) {
      vocab.care_combined = (vocab.care_rating || [0])[0];
      var sizes = vocab.sizes || [vocab];
      var max_care = 0;
      sizes.forEach(function(s) {
        if(s.care_score) {
          max_care = Math.max(max_care, parseFloat(s.care_score) || 0);
        }
      });
      vocab.care_combined = Math.round((vocab.care_combined + max_care) * 10.0) / 10.0;
      if(isNaN(vocab.care_combined)) { vocab.care_combined = null; }
    });
      // '!hw' = requires external hardware
      // '!vend' = requires vendor-specific external hardware
      // '!sys' = not implemented by app, relies on platform-provided accessibility
      // '!ipadpro' = requires iPad Pro models
      // '!lim' = not available on all platforms

    window.accessibility_options = [
      {
        id: 'gaze',
        icon: 'fa-eye',
        label: "eye gaze for selection"
      },
      {
        id: 'head',
        icon: 'fa-user',
        label: "head-tracking for selection"
      },
      {
        id: 'scan',
        icon: 'fa-bars',
        label: "row/column-based scanning"
      },

      {
        id: 'prompt',
        icon: 'fa-volume-down',
        label: "auditory prompts"
      },
      {
        id: 'fishing',
        icon: 'fa-headphones',
        label: "auditory fishing"
      },
      {
        id: 'highlight',
        icon: 'fa-lightbulb-o',
        label: "highlight on select"
      },
      {
        id: 'dwell',
        icon: 'fa-mouse-pointer',
        label: "dwell selection options"
      },

      {
        id: 'hc',
        icon: 'fa-adjust',
        label: "high-contrast symbols"
      },
      {
        id: 'text',
        icon: 'fa-arrows-v',
        label: "text above or below symbols"
      },
      {
        id: 'skin',
        icon: 'fa-female',
        label: "adjustable skin-tones"
      },
      {
        id: 'asl',
        icon: 'fa-hand-spock-o',
        label: "ASL symbols"
      },

      {
        id: 'font-size',
        icon: 'fa-desktop',
        label: "font size"
      },
      {
        id: 'font',
        icon: 'fa-font',
        label: "multiple font styles"
      },
      {
        id: 'select',
        icon: 'fa-hand-pointer-o',
        label: "select options/debounce"
      },

      {
        id: 'flip',
        icon: 'fa-rotate-left',
        label: "flip sentence box"
      },

      {
        id: 'swipe',
        icon: 'fa-hand-o-left',
        label: "scrolling/swiping"
      },
      {
        id: 'kb',
        icon: 'fa-keyboard-o',
        label: "keyboard"
      },
      {
        id: 'grammar',
        icon: 'fa-commenting-o',
        label: "grammar inflections"
      },

      {
        id: 'repairs',
        icon: 'fa-wrench',
        label: "sentence repairs"
      },
      {
        id: 'wait',
        icon: 'fa-ellipsis-h',
        label: "wait-while-I-type message"
      },
      {
        id: 'oops',
        icon: 'fa-times',
        label: "\"oops\" button"
      },
      {
        id: 'hold',
        icon: 'fa-clock-o',
        label: "hold-that-thought"
      },

      {
        id: 'find',
        icon: 'fa-search',
        label: "find a button"
      },
      {
        id: 'find+',
        icon: 'fa-search-plus',
        label: "find a button sequence"
      },
      {
        id: '!hw',
        label: "requires external hardware"
      },
      {
        id: '!vend',
        label: "requires vendor-specific external hardware"
      },
      {
        id: '!sys',
        label: "relies on platform-provided accessibility options"
      },
      {
        id: '!ipadpro',
        label: "requires iPad Pro models"
      },
      {
        id: '!lim',
        label: "not available on all platforms"
      },
      // TODO: message banking, personalized voice, phonics keyboard
      // split repairs into social (I can give you a clue, etc.)
      // and independent (revisions)
    ];
  </script>
  <script>
    // https://stackoverflow.com/questions/16801687/javascript-random-ordering-with-seed
    window.shuffle = function(array, seed) {                // <-- ADDED ARGUMENT
    var m = array.length, t, i;

    // While there remain elements to shuffle…
    while (m) {

      // Pick a remaining element…
      i = Math.floor(random(seed) * m--);        // <-- MODIFIED LINE

      // And swap it with the current element.
      t = array[m];
      array[m] = array[i];
      array[i] = t;
      ++seed                                     // <-- ADDED LINE
    }

    return array;
  }

  function random(seed) {
    var x = Math.sin(seed++) * 10000; 
    return x - Math.floor(x);
  }
  </script>
</head>
