---
---

@import "{{ site.theme }}";
aside#sidebar {
  a.button {
    background: #2879d0;
    border: 1px solid #aaa;
    border-radius: 5px;
    width: 100%;
    height: auto;
    padding: 5px 10px;
  }
}
header h1 {
  font-size: 55px;
}
