---
---

@import "{{ site.theme }}";
aside#sidebar {
  a.button {
    background: #2879d0;
    border: 1px solid #aaa;
    border-radius: 5px;
    width: 100%;
    height: auto;
    padding: 5px 10px;
  }
}
header {
  background: #000000;
  border-bottom: 5px solid #a2d6ff;
  box-shadow: 0 5px 20px #47aeff, inset 0px -10px 20px -5px #47aeff;
}
header h1 {
  font-size: 55px;
  color: #ffbdbd;
  text-shadow: 2px 2px 0 #ff3131, -2px -2px 0 #ff3131, 2px -2px 0 #ff3131, -2px 2px 0 #ff3131, 4px 4px 5px #ff3131;
  letter-spacing: 2px;
  font-family: sans-serif;
  font-weight: 100;
}
