---
---

@import "{{ site.theme }}";
header .side {
  position: absolute;
  top: 0;
  right: 0;
  img {
    width: 60px;
    margin-left: 10px;
    filter: brightness(0) invert(1);
  }
}
aside#sidebar {
  a.button {
    background: #2879d0;
    border: 1px solid #aaa;
    border-radius: 5px;
    width: 100%;
    height: auto;
    padding: 5px 10px;
  }
}

header {
  background: #000000;
  border-bottom: 5px solid #a2d6ff;
  box-shadow: 0 5px 20px #47aeff, inset 0px -10px 20px -5px #47aeff;
}
header h1 {
  font-size: 45px;
  color: #ffbdbd;
  letter-spacing: 2px;
  font-family: sans-serif;
  font-weight: 500;
  padding-top: 5px;
  margin-bottom: -5px;  
}
#main-content h2:before { font-size: 50px; content: "\01F9FA"; margin-left:-25px; }

#main-content h3:before { font-size: 50px; content: "\01F4AC"; margin-left:-25px; }

ol {
  strong {
    font-size: 20px;
    display: block;
  }
  li {
    margin-bottom: 10px;
  }
}
#team {
  .team_member {
    float: left;
    width: 49%;
    border: 1px solid #ccc;
    padding: 5px 10px;
    border-radius: 5px;
    min-height: 100px;
    strong {
      display: block;
    }
    img {
      float: left;
      width: 100px;
      height: 100px;
      margin-right: 10px;
      border-radius: 10px;
    }
  }
  &:after {
    clear: left;
    display: block;
    content: "";
  }
}